.main {
  background-color: aquamarine;
  margin-top:80px;
  margin-bottom: 80px;
    padding: 20px;
    margin-left: 20px; /* Adjust for sidebar width */
    height: auto; /* Adjust height for header */
    box-sizing: border-box;
    width: 900px;
  }