<h1>Pipes</h1>
<h1>{{ sname|lowercase}}</h1>
<h1>{{ lname|uppercase}}</h1>
<h1>{{ totalPer|percent}}</h1>
<h1>{{ amount|currency}}</h1>
<h1>{{ obj|json}}</h1>
<h1>{{ dob|date}}</h1>
<br>
<h1>parameterized Pipes</h1>
<h1>{{ amount|currency:'INR'}}</h1>
<h1>{{ amount|currency:'GBP'}}</h1>
<h1>{{ amount|currency:''}}</h1>
<h1>{{ amount|currency:'EUR'}}</h1>
<h1>{{ amount|currency:'JPY'}}</h1>


<h1>{{ dob|date}}</h1>
<h1>{{ dob|date:'short'}}</h1>
<h1>{{ dob|date:'medium'}}</h1>
<h1>{{ dob|date:'long'}}</h1>
<h1>{{ dob|date:'full'}}</h1>
<h1>{{ dob|date:'shortDate'}}</h1>
<h1>{{ dob|date:'mediumDate'}}</h1>
<h1>{{ dob|date:'longDate'}}</h1>
<h1>{{ dob|date:'fullDate'}}</h1>
<h1>{{ dob|date:'shortTime'}}</h1>
<h1>{{ dob|date:'mediumTime'}}</h1>
<h1>{{ dob|date:'longTime'}}</h1>
<h1>{{ dob|date:'fullTime'}}</h1>
<br> 

<h1>Chained Pipes</h1>
<h1>{{ dob|date:'full'|lowercase}}</h1>

<h1>Custom Pipe - Celsius to Fahr</h1>
<input type="text" id="cel" [(ngModel)]="celcius">
<h1>{{celcius | fahr}}</h1>

<input type="text" id="fname" [(ngModel)]="fname">
<input type="text" id="laname" [(ngModel)]="laname">
<h1>Fullname : {{fname | caps:laname}}</h1>

<input type="text" id="repeatString" [(ngModel)]="repeatString">
<input type="text" id="noOfTimes" [(ngModel)]="noOfTimes">
<input type="text" id="symbol" [(ngModel)]="symbol">

<h1>{{repeatString | repeatPattern:noOfTimes:symbol}}</h1>
<h1>{{'hello' | repeatPattern:5:'#'}}</h1>

