
<app-add-contact></app-add-contact>
<app-edit-contact></app-edit-contact>
<app-delete-contact></app-delete-contact>
<app-view-contact></app-view-contact>

 <h1 class="abc"> Welcome to the Angular Session - from app Component page!</h1>
<p class="text-danger">Hello from Para tag!</p>
<button class="btn btn-primary"> Dummy Button! </button>
<section>
    <div class="example-label">Extended Fab</div>
    <div class="example-button-row">
      <div class="example-flex-container">
        <div class="example-button-container">
          <button mat-fab extended>
            <mat-icon>favorite</mat-icon>
            Basic
          </button>
        </div>
        <div class="example-button-container">
          <button mat-fab extended disabled>
            <mat-icon>favorite</mat-icon>
            Disabled
          </button>
        </div>
        <div class="example-button-container">
          <a mat-fab extended routerLink=".">
            <mat-icon>favorite</mat-icon>
            Link
          </a>
        </div>
      </div>
    </div>
  </section>
  <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>
  <p><mat-slide-toggle>Slide me!</mat-slide-toggle></p>
<p><mat-slide-toggle labelPosition="before">...and slide me too!</mat-slide-toggle></p> 